# === PostgreSQL ===
POSTGRES_USER=supfile
POSTGRES_PASSWORD=changeme
POSTGRES_DB=supfile
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql://supfile:changeme@localhost:5432/supfile?schema=public

# === API ===
PORT=3000
JWT_SECRET=remplace-par-une-chaine-aleatoire-de-64-caracteres-minimum