# Dépendances
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
.expo/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Données locales
uploads/
/storage/
